<li id="topic-<%= topic.id %>">
  <span class="title"><%= link_to topic.title, topic %>[<%= topic.category %>]</span>
  <span class="timestamp">
    <%= time_ago_in_words(topic.created_at) %>前
    <% if current_user.admin? %>
      <%= link_to "削除", topic, method: :delete,
                                       data: { confirm: "本当に削除しますか?" } %>
      
    <% end %>
  </span>
</li>
